@import 'tailwindcss';
@import 'tw-animate-css';
@import '@trenaryja/ui/css';
@source '../node_modules/@trenaryja/ui';

@plugin "daisyui" {
	themes: all;
}

@utility input {
	@apply focus-within:outline-none focus:outline-none placeholder:text-base-content/25 bg-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
}
